
<nav class="navbar navbar-inverse bg-primary">
	<h1>Burger Emperor</h1>
</nav>

<div>
	
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-lg-10">
			<img class="burgerHeader" class="burgerImg" src="burgerTop2.jpg">
		</div>

		<div class="col-md-12 col-lg-2">
			<h3 class="aboutUsBlurb">Welcome to the home of the classy burger. Since our grand-opening way back in 2016, we've strived to make every burger a reflection of who we are.</h3>
		</div>
	</div>
</div>

<div class="mainContainer">
	<div class="mainDiv burgersToEat">
		{{#each burger.burgersToEat}}
			<p>Name: {{this.burger_name}}</p>
			<form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
				<button type="submit">Eat Burger!</button>
			</form>
			<hr>
		{{/each}}
	</div>

	<div class="mainDiv eatenBurger">
		{{#each burger.eatenBurgers}}
			<p>Name: {{this.burger_name}}</p>
			<hr>
		{{/each}}
	</div>

	<div class="addBurger">
		<h2>Add a Burger to the Menu:</h2>
		<form method="POST" action="/api/burgers" class="button-size" >
			<input type="text" name="burger_name"></input>
			<button type="submit" class="addBurgButton">Add Burger!</button>
		</form>
	</div>
