<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid navbar-container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#Home">Burger Emperor</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="#Menu">Menu</a></li>
				<li><a href="#Classics">Retired Classics</a></li> 
				<li><a href="#Submit">Submit a Burger</a></li> 
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid topMargin" id="Home">
	<div class="row">
		<div class="col-md-12">
			<img class="burgerHeader" src="assets/img/burgerTop2.jpg">
			<img class="burgerHeaderCrop" src="assets/img/burgerTopCrop.jpg">
			<img class="burgerHeaderMobile" src="assets/img/burgerTopMobile.jpg">
		</div>

		<div class="col-md-12">
			<h3 class="aboutUsBlurb">Welcome to the home of the classy burger. Since our grand-opening way back in 2016, we've strived to make every burger a reflection of who we are.</h3>
		</div>
	</div>
</div>

<div class="mainDiv burgersToEat row" id="Menu">
	<h2>Our Menu</h2>
	{{#each burger}}
		{{#unless this.devoured}}
			{{> availaBurg}}
		{{/unless}}
	{{/each}}
</div>

<div class="mainDiv eatenBurger" id="Classics">
	<h2>Gone Burger Gone</h2>
	<h4>(Retired Classics)</h4>
	{{#each burger}}
		{{#if this.devoured}}
			{{> eatenBurg}}
		{{/if}}
	{{/each}}
</div>

<div class="addBurger" id="Submit">
	<h2>Submit-A-Burger:</h2>
	<form method="POST" action="/api/burgers" class="button-size" >
		<input type="text" name="burger_name"></input>
		<button type="submit" class="addBurgButton">Add Burger!</button>
	</form>
</div>
