<nav class="navbar navbar-inverse bg-primary">
	<h1>Burger Emperor</h1>
</nav>

<div>
	
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-lg-10">
			<img class="burgerHeader" class="burgerImg" src="assets/img/burgerTop2.jpg">
		</div>

		<div class="col-md-12 col-lg-2">
			<h3 class="aboutUsBlurb">Welcome to the home of the classy burger. Since our grand-opening way back in 2016, we've strived to make every burger a reflection of who we are.</h3>
		</div>
	</div>
</div>


<div class="mainDiv burgersToEat row">
	<h2>Our Menu</h2>
	{{#each burger}}
		{{#unless this.devoured}}
			<div class="burger col-sm-6 col-md-3">
				<img src="/assets/img/burgerVector.png" alt="burger" class="burgerImg">
				<p>{{this.burger_name}}</p>
				<form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
					<button type="submit">Eat Burger!</button>
				</form>
			</div>
		{{/unless}}
	{{/each}}
</div>

<div class="mainDiv eatenBurger">
	<h2>Gone Burger Gone</h2>
	<h4>(Retired Classics)</h4>
	{{#each burger}}
		{{#if this.devoured}}
			<div class="burger col-sm-6 col-md-3">
				<img src="/assets/img/goneBurgergone.png" alt="burger" class="burgerImg">
				<p>{{this.burger_name}}</p>
			</div>
		{{/if}}
	{{/each}}
</div>

<div class="addBurger">
	<h2>Add a Burger to the Menu:</h2>
	<form method="POST" action="/api/burgers" class="button-size" >
		<input type="text" name="burger_name"></input>
		<button type="submit" class="addBurgButton">Add Burger!</button>
	</form>
</div>
