.addBurger {
	clear: both;
}

body {
	background: #256a68;
}

button {
	margin: auto;
	display: block;
	width: 450px;
	height: 35px;
	border-radius: 0 0 10px 10px;
	border: 0;
}

h1, h2 {
	text-align: center;
	color: white;
}

input {
	display: block;
	width: 450px;
	height: 50px;
	margin: auto;
	border-radius: 10px 10px 0 0;
	border: 0;
}

.mainDiv {
	background: white;
	width: 750px;
	padding: 25px;
	border-radius: 70px;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.46);
	margin: auto;
	width: 530px;
	float: left;
	margin-bottom: 35px;
}


p {
	color: black;
}

