.addBurger {
	clear: both;
}

.addBurgButton {
	margin: auto;
	display: block;
	width: 450px;
	height: 35px;
	border-radius: 0 0 10px 10px;
	border: 0;
}

body {
	background-image: url("../img/Melamine-wood-002.png")
}

.burger {
    text-align: center;
    margin-bottom: 40px;
}

.burgerHeader {
	width: 100%;
}

.burgerImg {
    width: 225px;
}

.burgersToEat {
	float: left;
}

.container-fluid {
    padding-right: 0; 
    padding-left: 0;
}

.eatenBurger {
	float: right;
}

h1, h2, h4 {
	text-align: center;
	color: white;
}

h1 {
	font-family: 'Sriracha', cursive;
	margin: 10px;
	font-size: 45px;
}

h2 {
	color: black;
}

h3 {
	color: white;
}

h4 {
	color: black;
}

input {
	display: block;
	width: 450px;
	height: 50px;
	margin: auto;
	border-radius: 10px 10px 0 0;
	border: 0;
}

.mainContainer {
	width: 810px;
	margin: auto;
}

.mainDiv {
	background: white;
	width: 750px;
	padding: 25px;
	border-radius: 70px;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.46);
	margin: auto;
    width: 100%;
	margin-bottom: 35px;
    text-align: center;
}

.navbar-inverse {
	background-color: black;
	border-color: #080808;
	margin: 0;
}

p {
	color: black;
}
